@page "/CriarFeira"
@using src.Data.BusinessLogic.SubFeiras
@inject SubFeirasFacade facade;

<style>
	html, body {
		height: 100%;
		width: 100%;
		
	}

	h1 {
		font-weight:bolder;
		font-size: 3em;
		color: black;
	}

	.top-row {
		padding-top: 40px;
		height: 30%;
		display: grid;
		grid-template-columns: 15% auto;
	}

		.left-container {
			width: 100%;
		}

			.img-container{
				border: solid;
				padding-top: 100%;
				width: 100%;
				background-color: lightgray;
			}

			.left-container button {
				width: 200px;
				height: 60px;
				transform: scale(0.8);
			}

	button {
		background-color: var(--color-blue);
		border: none;
		border-radius: 100px;
	}

	.btn-container button {
		width: 100px;
		height: 50px;
		align-self: center;
		justify-self: center;
		margin: 10px 0 10px 0;
		border: solid;
		background-color: darkslateblue;
		border-color:darkslateblue;
		border-width: 4px;
	}

	button h1 {
		font-size: 20px;
	}

	.btn-container {
	}

	.right-container{
		height: 100%;
		width: 100%;
	}

		.form-container{
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.form-container form {
			width: 100%;
		}
			.form-container label {
				font-weight: bold;
			}

			.form-container input {
				float: right;
				height: 50px;
				width: 90%;
				margin-bottom: 30px;
			}

		.descricao {
			margin-top: 1em;
			height: 120px;
		}

			.descricao textarea {
				width: 100%;
				height: 100%;
				resize: none;
			}

		.content-container {
			margin: 0px 4% 0 4%;
		}

		input, textarea {
			background-color: lightgray;
			border-color: dimgray;
			border-radius: 5px;
			border-width: 3px;
			text-align: center;
			color: darkslategrey;
			font-weight: bold;
			text-decoration: none;
		}

		input {
			font-size: 1.5em;
		}

		textarea{
			font-size: 2em;
		}

	.tracking-in-expand {
		margin: 50px;
		-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
		animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	}


	@@-webkit-keyframes tracking-in-expand {
		0% {
			letter-spacing: -0.5em;
			opacity: 0;
		}

		40% {
			opacity: 0.6;
		}

		100% {
			opacity: 1;
		}
	}

	@@keyframes tracking-in-expand {
		0% {
			letter-spacing: -0.5em;
			opacity: 0;
		}

		40% {
			opacity: 0.6;
		}

		100% {
			opacity: 1;
		}
	}

	.btn-grad {
		background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
		margin: 10px;
		padding: 15px 45px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		box-shadow: 0 0 20px #eee;
		border-radius: 10px;
		display: block;
		margin: auto;
	}

		.btn-grad:hover {
			background-position: right center; /* change the direction of the change here */
			color: #fff;
			text-decoration: none;
		}


</style>

<div class="tracking-in-expand">
	<h1>Adicionar Feira</h1>
	<h3>Por favor, preencha os campos abaixo para criar uma feira</h3>
</div>

<div class="content-container">
	<div class="top-row">
		<div class="left-container">
			<div class="img-container">
			</div>
			<button class="btn-grad">
				<h3>Adicionar imagem</h3>
			</button>

		</div>

		<div class="right-container">
			<div class="form-container">
				<form>
					<input type="text" id="name" placeholder="Insira o nome da feira..." spellcheck="false"  @bind="@name" /><br />
					<input type="text" id="theme" placeholder="Insira o tema da feira... Ex: feira agrícola" spellcheck="false" @bind="@theme" /><br />
					<input type="text" id="place" placeholder="Insira o local da feira..." spellcheck="false" @bind="@local"><br />
				</form>
			</div>
		</div>

	</div>
	<div class="descricao">
		<textarea id="description" rows="5" cols="33" spellcheck="false" placeholder="Insira a descrição da feira..." @bind="@description"></textarea>
	</div><br />
	<button class="btn-grad" @onclick="createFeira">Criar feira</button>
</div>



@code {
	private String name;
	private String theme;
	private String local;
	private String description;

	private void createFeira(){
		SubFeirasFacade f = new SubFeirasFacade();
		Feira feira = new Feira(name, theme, description, local);
		f.AddFeira(feira);
	}
}
